<mat-toolbar color="primary">
    <mat-toolbar-row>
    <span>Hospital Management System </span>
    
        <span class="example-fill-remaining-space"></span>
        <span class="align-center"></span>
        
        <span class="example-spacer"></span>
        <div *ngIf="isLoggedIn$ | async" #container></div>
        <button mat-button *ngIf="isLoggedIn$ | async"><mat-icon (click)="homeClick()">home</mat-icon></button>
        <!--<button mat-button (click)="onLogout()" *ngIf="hidelogout">Logout</button> !-->
        <button mat-raised-button color="warn" *ngIf="isLoggedIn$ | async" (click)="onLogout()">Logout</button>
     </mat-toolbar-row>
     </mat-toolbar>
  