<mat-card style="display:flex;justify-content:center;align-items:center;">

    <mat-card-content>

        <div class="form-container">
           <form [formGroup]="apptForm" (ngSubmit)="onSubmit()">
            <!-- <form *ngIf="apptObs | async; else loading" [formGroup]="apptForm" (ngSubmit)="onSubmit()"> -->

              <div class="input-row" fxLayout="row" fxLayout.lt-md="column" style="display:flex;justify-content:center;align-items:center;">
                <h2> Select your Apointment Schedule</h2>
              </div>        
              <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="20px">
        <mat-form-field class="full-width-input">
          
            <mat-select formControlName="timezone" placeholder="Time Zone">
              <mat-option [value]="choice" *ngFor="let choice of tzChoice">{{ choice }}</mat-option>
            </mat-select>
            <mat-error *ngIf="hasError('timezone', 'required')">Type of Appt is required</mat-error>
          </mat-form-field>
          
          
      <mat-form-field class="full-width-input">
    
            <mat-select formControlName="appointmenttype" placeholder="Appointment Type">
              <mat-option [value]="choice" *ngFor="let choice of apptChoice">{{ choice }}</mat-option>
            </mat-select>
            <mat-error *ngIf="hasError('appointmenttype', 'required')">Type of Appt is required</mat-error>
          </mat-form-field>

<mat-form-field class="full-width-input">
        
            
            <input matInput [min]="minDate" [matDatepicker]="picker" placeholder="Start Date" formControlName="startdate" id="startdate" 
            readonly (click)="picker.open()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="hasError('startdate', 'required')">Appt Date is required</mat-error>
          </mat-form-field>
          
<mat-form-field class="full-width-input">
        
            <input matInput type="text" maxlength="50" formControlName="title" placeholder="Title">

          </mat-form-field>

              </div>
              <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="20px">
<mat-form-field class="full-width-input">

  <mat-select formControlName="starttime" placeholder="Start Time">
    <mat-option [value]="choice" *ngFor="let choice of timeChoice">{{ choice }}</mat-option>
  </mat-select>
           <!-- <timepicker formControlName="starttime" placeholder="Start Time" [showSpinners]="false"></timepicker>-->
            <mat-error *ngIf="hasError('starttime', 'required')">Start Time is required</mat-error>
          </mat-form-field>			
          
<mat-form-field class="full-width-input">

<mat-select formControlName="endtime" [errorStateMatcher]="dateValidator" placeholder="End Time" (change)="onendtimechange($event)">
  <mat-option [value]="choice" *ngFor="let choice of timeChoice">{{ choice }}</mat-option>
</mat-select>
            <mat-error *ngIf="hasError('endtime', 'required')">End Time is required</mat-error>
            <mat-error *ngIf="apptForm.hasError('dateErr')">End Time should be less than Start Time</mat-error>
          </mat-form-field>

          <mat-form-field class="full-width-input">
        
            <input matInput type="text" formControlName="location" placeholder="Location">

          </mat-form-field>

          <mat-form-field class="full-width-input">
        
            <input matInput type="text" maxlength="50" formControlName="comments" placeholder="Comments">

          </mat-form-field>
</div>
          <div class="input-row" style="display:flex;justify-content:center;align-items:center;">
          <button mat-raised-button type="submit" color="primary">Save</button>
          </div>
              
        </form>
        </div>
    </mat-card-content>

</mat-card>

<ng-template #loading>
  Loading User...
</ng-template>

<div style="display:flex;justify-content:center;align-items:center;">

<button  (click)="add()">Dynamically Add Component</button>
</div>

<div #container></div>

