<div *ngIf="userloaded"><h4> Welcome {{userDetail.display_name | uppercase}}</h4>
</div>
<div class="container"
fxLayout="row" fxLayoutAlign="centre center">
<mat-card fxFlex="50%">
  <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="20px" style="display:flex;justify-content:center;align-items:center;">
    <mat-card-header>
        <mat-card-title>Book Appointment</mat-card-title>
      </mat-card-header>
  </div>
      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="20px" style="display:flex;justify-content:center;align-items:center;">
    <mat-card-content>
        <button mat-raised-button (click)="bookAppt()" color="primary">Book Appointment</button>
    </mat-card-content>
      </div>

</mat-card>

<mat-card fxFlex="50%">
  <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="20px" style="display:flex;justify-content:center;align-items:center;">
    <mat-card-header>
        <mat-card-title>Update User Details</mat-card-title>
      </mat-card-header>
</div>
<div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="20px" style="display:flex;justify-content:center;align-items:center;">
    <mat-card-content>
        <button mat-raised-button (click)="updateUser()" color="primary">Update User Details</button>
    </mat-card-content>
</div>
</mat-card>

</div>
    
<div *ngIf="appointments && userloaded">
<h4> Your Booked Appointments: </h4>

</div>

    <mat-table *ngIf="appointments && userloaded" [dataSource]="appointments" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="timezone">
          <mat-header-cell *matHeaderCellDef>Time Zone </mat-header-cell>
          <mat-cell *matCellDef="let appointment"> {{appointment.timezone}} </mat-cell>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="appointmenttype">
          <mat-header-cell *matHeaderCellDef> Appointment Type </mat-header-cell>
          <mat-cell *matCellDef="let appointment"> {{appointment.appointmenttype}} </mat-cell>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="startdate">
          <mat-header-cell *matHeaderCellDef> Start Date </mat-header-cell>
          <mat-cell *matCellDef="let appointment"> {{appointment.startdate}} </mat-cell>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
          <mat-cell *matCellDef="let appointment"> {{appointment.title}} </mat-cell>
        </ng-container>
      
                <!-- Name Column -->
                <ng-container matColumnDef="starttime">
                    <mat-header-cell *matHeaderCellDef> Start Time </mat-header-cell>
                    <mat-cell *matCellDef="let appointment"> {{appointment.starttime}} </mat-cell>
                  </ng-container>
                
                  <!-- Weight Column -->
                  <ng-container matColumnDef="endtime">
                    <mat-header-cell *matHeaderCellDef> End Time </mat-header-cell>
                    <mat-cell *matCellDef="let appointment"> {{appointment.endtime}} </mat-cell>
                  </ng-container>
                
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="location">
                    <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
                    <mat-cell *matCellDef="let appointment"> {{appointment.location}} </mat-cell>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="comments">
                    <mat-header-cell *matHeaderCellDef> Comments </mat-header-cell>
                    <mat-cell *matCellDef="let appointment"> {{appointment.comments}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element" class="action-link"> 
                      <a (click)="openDialog('Update',element)">Edit</a> | 
                      <a (click)="openDialog('Delete',element)">Delete</a>  
                    </td>
                  </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <div *ngIf="!userloaded" 
   style="display: flex; justify-content: center; align-items: center; background: white;">
  <mat-progress-spinner 
    color="primary" 
    mode="indeterminate">
  </mat-progress-spinner>
</div>