<!-- dialog-box.component.html -->
<h1 mat-dialog-title>Delete Appointment </h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="{{action}} Comments" matInput [(ngModel)]="local_data.comments">
  </mat-form-field>
  <mat-form-field *ngIf="action != 'Delete'; ">
    <input placeholder="{{action}} starttime" matInput [(ngModel)]="local_data.starttime">
  </mat-form-field>
  <mat-form-field *ngIf="action != 'Delete'; ">
    <input placeholder="{{action}} endtime" matInput [(ngModel)]="local_data.endtime">
  </mat-form-field>
  <ng-template #elseTemplate>
    Sure to delete <b>{{local_data.title}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-flat-button color="primary" (click)="doAction()">{{action}}</button>
  <button mat-raised-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>