/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~material-design-icons/iconfont/material-icons.css';

.container
{
    margin: 20px;
    display: flex;
    justify-content: center;
}

body1 
{
background-color:#8ebde0;
}

.mat-card
{
background-color:#84a5592f;
}

.mat-table
{
    background-color:#d88ca92f;
    }