<mat-card style="display:flex;justify-content:center;align-items:center;">

    <mat-card-content>

        <div class="form-container">
           <form novalidate *ngIf="!edituser || (userObs | async); else loading" [formGroup]="regForm" (ngSubmit)="onSubmit()">
        
            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" style="display:flex;justify-content:center;align-items:center;">
              <h2> Enter Your Details</h2>
            </div>        
            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="45px" fxLayoutGap.lt-md="45px">
        
            <mat-form-field class="full-width-input">
          
            <input matInput type="text" formControlName="name" placeholder="name">
            <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>

          </mat-form-field>
          
      <mat-form-field class="full-width-input">
        
            <input matInput type="text" formControlName="username" placeholder="username">
            <mat-error *ngIf="hasError('username', 'required')">User Name is required</mat-error>
          </mat-form-field>

<mat-form-field class="full-width-input">
        
            <input matInput type="password" formControlName="password" placeholder="password">
            <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
          </mat-form-field>

<mat-form-field class="full-width-input">
        
            <input matInput type="text" formControlName="guardian_type" placeholder="guardian_type">
<mat-error *ngIf="hasError('guardian_type', 'required')">Guardian is required</mat-error>
          </mat-form-field>
          </div>
          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="45px" fxLayoutGap.lt-md="45px">
<mat-form-field class="full-width-input">
        
            <input matInput type="text" formControlName="guardian_name" placeholder="guardian_name">

          </mat-form-field>			
          
<mat-form-field class="full-width-input">
        
            <input matInput type="text" formControlName="address" placeholder="address">
            <mat-error *ngIf="hasError('address', 'required')">Address is required</mat-error>
          </mat-form-field>

<mat-form-field class="full-width-input">
        
            <input matInput type="text" formControlName="citizenship" placeholder="citizenship">

          </mat-form-field>

<mat-form-field class="full-width-input">
        
  <mat-select formControlName="country" placeholder="Country" (selectionChange)="changeCountry($event.value)">
    <mat-option [value]="choice.name" *ngFor="let choice of countryChoice">{{ choice.name }}</mat-option>
  </mat-select>

          </mat-form-field>	
        </div>
          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="45px" fxLayoutGap.lt-md="45px">
          <mat-form-field class="full-width-input">
        
            <mat-select formControlName="state" placeholder="State">
              <mat-option [value]="city" *ngFor="let city of cities">{{ city }}</mat-option>
            </mat-select>

          </mat-form-field>	


<mat-form-field class="full-width-input">
        
            <input matInput type="text" formControlName="email_address" placeholder="email_address">
            <mat-error *ngIf="hasError('email_address', 'required')">Email is required</mat-error>
            <mat-error *ngIf="hasError('email_address', 'pattern')">Email does not match Pattern</mat-error>
          </mat-form-field>
          
          <mat-form-field class="full-width-input">
        
              <mat-select formControlName="gender" placeholder="gender">
                <mat-option [value]="choice" *ngFor="let choice of genderChoice">{{ choice }}</mat-option>
              </mat-select>
              <mat-error *ngIf="hasError('gender', 'required')">Gender is required</mat-error>
          </mat-form-field>
          
          <mat-form-field class="full-width-input">
        
            <input matInput type="text" formControlName="marital_status" placeholder="marital_status">

          </mat-form-field>
        </div>
        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="45px" fxLayoutGap.lt-md="45px">

<mat-form-field class="full-width-input">
        
            <input matInput type="text" formControlName="contact_no" placeholder="contact_no">
            <mat-error *ngIf="hasError('contact_no', 'required')">Contact No. is required</mat-error>
            <mat-error *ngIf="hasError('contact_no', 'pattern')">Contact No. should contain numbers only</mat-error>
            <mat-error *ngIf="hasError('contact_no', 'minlength')">Contact No. should be 10 digits</mat-error>
            <mat-error *ngIf="hasError('contact_no', 'maxlength')">Contact No. should be 10 digits</mat-error>
          </mat-form-field>
        
          <mat-form-field class="full-width-input">
            <input matInput [matDatepicker]="picker" [max]="maxDate" placeholder="Choose a date of birth" formControlName="date_of_birth" id="date_of_birth" 
            readonly (click)="picker.open()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

          </mat-form-field>
          
          <mat-form-field class="full-width-input">
            <input matInput [matDatepicker]="picker1" [min]="minDate" placeholder="Registration Date" formControlName="registration_date" id="registration_date" 
            readonly (click)="picker1.open()">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>


<mat-form-field class="full-width-input">
        
            <input matInput type="text" formControlName="time_zone" placeholder="time_zone">

          </mat-form-field>
          
        </div>
        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="45px" fxLayoutGap.lt-md="45px">

          <mat-form-field class="full-width-input">
        
            <input matInput type="text" formControlName="blood_type" placeholder="blood_type">

          </mat-form-field>
          
          <mat-form-field class="full-width-input">
        
            <input matInput type="text" formControlName="country_visited" placeholder="country_visited">

          </mat-form-field>
          
          
          <mat-form-field class="full-width-input">
        
            <input matInput type="text" formControlName="citizen_status" placeholder="citizen_status">

          </mat-form-field>
          
          <mat-form-field class="full-width-input">
        
            <input matInput type="text" formControlName="display_name" placeholder="display_name">

          </mat-form-field>
        </div>
        <div class="input-row" style="display:flex;justify-content:center;align-items:center;">
          <mat-form-field class="full-width-input">
        
            <input matInput type="text" formControlName="supplier_name" placeholder="supplier_name">

          </mat-form-field>
          
          <mat-form-field class="full-width-input">
        
            <input matInput type="text" formControlName="ssn_number" placeholder="ssn_number">

          </mat-form-field>
        </div>
        <div class="input-row" style="display:flex;justify-content:center;align-items:center;">
            <button mat-raised-button type="submit" color="primary">Save</button>
        </div>
        </form>
        </div>
    </mat-card-content>

</mat-card>

<ng-template #loading>
  Loading User...
</ng-template>
